<!DOCTYPE html>
<html>
  <head>
    <title>TBD</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  <body>
    <h1>Django Sample Application</h1>
    <p>これからの授業で内容を増やすページです.</p>
    <p>article_id: {{ article_id }}</p>
    <br>
  </body>
</html>
